body{
	padding-top:70px;
}
.article-text{
	text-indent: 2em;
}
.article-text:first-letter{
	font-size: 2em;
}

/*---------------header---------------*/
#head-picture{
	width:100%;
}
#login-link{
	float:right;
}

/**/
#account-form{
	margin-top:100px;
}


