body{
	padding-top:70px;
}
/*---------------登录模块---------------*/
#form-wrap{
	margin:auto;
	padding:50px 0;
	border:1px solid #CCCCCC;
	background-color:#EEEEEE;
}

#login-form .form-group:last-child{
	margin-bottom: 0;
}

/*让登录输入块垂直居中*/
#header+div{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 300px;
}

